.card {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background: var(--cards-background);
}

.icon-name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.icon {
  width: 23px;
  height: 23px;
  filter: var(--icon-filter);
}

.card-name {
  margin: 0;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.currency-symbol {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: var(--text-color);
}

input {
  width: 100%;
  padding: 5px 10px 5px 25px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  outline: none;
  color: var(--text-color);
  background: var(--input-background);
  border: 1px solid var(--border-lines-color);
  transition: border 0.3s ease-in-out;
  font-family: inherit;
}

input::placeholder {
  color: var(--gray-text);
}

input:focus, select:focus {
  border: 1px solid #28a745;
}

select {
  width: 100%;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  color: var(--text-color);
  background: var(--input-background);
  border: 1px solid var(--border-lines-color);
  transition: border 0.3s ease-in-out;
  font-family: inherit;
}

.button {
  width: 120px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 6px;
  border-radius: 40px;
  font-size: 16px;
  border: 1px solid var(--border-lines-color);
  cursor: pointer;
  color: #28a745;
  background-color: transparent;
}

.button:hover {
  border: 1px solid #28a745;
}