<div class="search-bar-container">
  <!-- <p class="notes-number">{{ filteredNotes().length == 1 ? '1 note' : filteredNotes().length + ' notes'}}</p> -->
  <div class="search-wrapper">
    <i class="fa fa-search search-icon"></i>
    <input type="text" placeholder="Search by title, text, date..." class="search-bar" [(ngModel)]="searchQuery">
    <span class="search-cancel" (click)="cancelQuery()">Cancel</span>
  </div>
  <div class="sort-container">
    <div class="sort-by">
      <p> Sort by </p>
    </div>
    <div class="sort" (click)="sortByDate()">
      <img class="icon" [src]="newest ? 'icons/deposit.png' : 'icons/withdraw.png'" alt="dep">
      <p class="order-text"> {{ newest ? 'newest to oldest' : 'oldest to newest'}} </p>
    </div>
  </div>
  <div class="add-note-header">
    <div class="add-note-circle-header">
      <i class="fa fa-plus"></i>
    </div>
    <p class="add-note-header-text">Add note</p>
  </div>
</div>

<app-transactions [selectedAccount]="null"></app-transactions>