<div class="card">
  <div class="upper-container">
    <p class="card-name">Accounts</p>
    <div class="select-container">
      <p class="select-all">Select all</p>
      <a routerLink="../accounts">
        <p class="view-all">View all</p>
      </a>
    </div>
  </div>  
  <div class="accounts-grid">
    <div class="account">
      <div class="account-name">Savings</div>
      <div class="amount">$17,000</div>
    </div>
    <div class="account">
      <div class="account-name">Debit</div>
      <div class="amount">$1,200</div>
    </div>
    <div class="account">
      <div class="account-name">Credit</div>
      <div class="amount">$23,200</div>
    </div>
    <div class="account">
      <div class="account-name">Wallet</div>
      <div class="amount">$12,430</div>
    </div>
    <div class="account">
      <div class="account-name">Cash</div>
      <div class="amount">$430</div>
    </div>
    <div class="account">
      <div class="account-name">OMT</div>
      <div class="amount">$230</div>
    </div>
  </div>
</div>
