.card {
  padding: 10px;
  border-radius: 10px;
  background: var(--cards-background);
}

.card-name {
  margin: 0;
  font-size: 20px;
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.view-all {
  margin: 0;
  color: var(--gray-text)
}

.view-all:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.accounts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.account {
  padding: 10px;
  background: var(--internal-cards-background);
  border-radius: 5px;
  height: 60px;
}

.account:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.account-name {
  font-size: 1.3em;
  color: var(--gray-text);
}

.amount {
  font-size: 1.7em;
  /* color: black; */
  text-align: center;
  margin: 5px;
}