<div class="card">
  <div class="upper-container">
    <p class="card-name">Accounts</p>
    <div class="select-container">
      <p class="select-all" [class.all-selected]="allSelected" (click)="selectAll()">Select all</p>
      <a routerLink="../accounts">
        <p class="view-all">View all</p>
      </a>
    </div>
  </div>  
  @if (isLoading) {
    <div class="loading-container">
      <div class="spinner"></div>
    </div> 
  } @else {
    <div class="accounts-grid">
      @for (account of accounts; track account.id) {
        <div class="account" [class.selected]="selectedId === account.id" (click)="selectAccount(account.id)">
          <div class="account-name">{{ account.name }}</div>
          <div class="amount">{{ account.balance | currency }} </div>
        </div>
      }
      <div class="add-account-container">
        <div class="add-account-circle">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  }
</div>