<div class="card">
  <div class="upper-container">
    <div class="icon-name-container">
      <img class="icon" src="icons/accounts.png" alt="trans">
      <p class="card-name">Accounts</p>
    </div>
    <div class="select-container">
      <p class="select-all" [class.all-selected]="allSelected" (click)="selectAll()">Select all</p>
      <a routerLink="../accounts">
        <p class="view-all">View all</p>
      </a>
    </div>
  </div>  
  @if (isLoading) {
    <div class="loading-container">
      <div class="spinner"></div>
    </div> 
  } @else {
    <div class="accounts-grid">
      @for (account of accounts; track account.id) {
        <div class="account" [class.selected]="selectedId === account.id" (click)="selectAccount(account.id)">
          <div class="account-name">{{ account.name }}</div>
          <div class="amount">{{ account.balance | currency }} </div>
        </div>
      }
      <div class="add-account-container" (click)="openModal()">
        <div class="add-account-circle">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  }
</div>

@if (isModalOpen) {
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <p class="modal-title">New Account</p>      
        <div class="modal-container">
            <p class="sentence">Account Name</p>
            <div class="input-container">
              <input type="text" name="account-name" placeholder="Ex: cash, wallet, savings..." maxlength="15" [(ngModel)]="accountName" required>
            </div>
          <p class="sentence">Initial Balance</p>
          <div class="input-container">
            <span class="currency-symbol">$</span>
            <input type="number" name="amount" placeholder="0.00" [(ngModel)]="initialBalance">
          </div>
        </div>
        <div class="modal-buttons">
          <button class="cancel-button" (click)="closeModal()">Cancel</button>
          <button type="submit" class="confirm-button">Confirm</button>
        </div>
      </div>
    </div>
  </form> 
}