<div class="content-grid">
  <div class="left-column">
      <app-total class="total-component" [selectedAccount]="selectedAccount"></app-total>
      <app-statistics class="stats-component"></app-statistics>
      <app-transactions class="trans-component"></app-transactions>
  </div>
  <div class="right-column">
    <app-accounts class="accounts-component" (selectedAccount)="updateSelectedAccount($event)"></app-accounts>
    <app-quick-transfer class="transfer-component"></app-quick-transfer>
    <app-add-note class="add-note-component"></app-add-note>
  </div>
</div>
