<div class="content-grid">
  <div class="left-column">
      <app-total class="total-component" [selectedAccount]="selectedAccount"></app-total>
      <app-statistics class="stats-component"></app-statistics>
      <app-transactions class="trans-component"></app-transactions>
  </div>
  <div class="right-column">
    <app-accounts class="accounts-component" (selectedAccount)="updateSelectedAccount($event)"></app-accounts>
    <app-quick-transfer class="transfer-component"></app-quick-transfer>
    <app-add-note class="add-note-component">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="card">
          <div class="upper-container">
            <p class="card-name">Add Note</p>
            <a routerLink="../notes">
              <p class="view-all">View Notes</p>
            </a>
          </div>
          <div class="container">
            <input class="note-title" name="title" placeholder="Enter title..." [(ngModel)]="title" maxlength="42" required>
            <textarea class="textarea" name="note" placeholder="Write your note here..." [(ngModel)]="note" maxlength="1120" required></textarea>
            <button type="submit" class="button">Add</button>
          </div>
        </div>
      </form>
    </app-add-note>
  </div>
</div>
