.content-grid {
  display: grid;
  grid-template-columns: 70% 29.2%;
  gap: 10px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1000px) {
  .content-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .accounts-component {
    margin-top: 20px;
  }

  .left-column, .right-column {
    width: 99.5%;
  }
}

.card {
  padding: 10px;
  border-radius: 10px;
  background: var(--cards-background);
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-name {
  margin: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.view-all {
  margin: 0;
  color: var(--gray-text)
}

.view-all:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.note-title {
  width: 95%;
  height: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
  outline: none;
  border: 1px solid var(--border-lines-color);
  color: var(--text-color);
  background: var(--input-background);
  transition: border 0.3s ease-in-out;
}

.textarea {
  width: 95%;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 8px;
  resize: none;
  outline: none;
  border: 1px solid var(--border-lines-color);
  color: var(--text-color);
  background: var(--input-background);
  transition: border 0.3s ease-in-out;
}

.textarea:focus, .note-title:focus {
  border: 1px solid #28a745;
}

.textarea::placeholder, .note-title::placeholder {
  color: var(--gray-text);
}

.button {
  width: 120px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 40px;
  font-size: 16px;
  border: 1px solid gray;
  cursor: pointer;
  color: var(--text-color);
  background-color: transparent;
}

.button:hover {
  border: 1px solid #28a745;
  color: #28a745;
}