.content-grid {
  display: grid;
  grid-template-columns: 70% 29.2%;
  gap: 10px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1000px) {
  .content-grid {
    grid-template-columns: 1fr;
  }

  .accounts-component {
    margin-top: 20px;
  }

  .left-column {
    width: 98%;
  }
}