<div class="header-container">
  <div class="header"> 
    <div class="welcome-container">
      <p class="welcome">Welcome</p>
      <p class="statement">Here's what's happening with your finance today</p>
    </div>
    <div class="buttons">
      <p>Deposit</p>
      <p>Withdraw</p>
      <p>Transfer</p>
    </div>
    <div class="dark-mode-container" (click)="toggleTheme()">
      <img class="dark-mode" [src]="isDarkMode ? 'icons/lightmode.png' : 'icons/darkmode.png'" alt="Dark Mode">
    </div>    
  </div>
</div>