<div class="total-cards-container">
  <p class="selected-account">All Accounts</p>
  <div class="card">
    @if (isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
      </div> 
    } @else {
      <p class="total">Total Balance</p>
      <div class="icon-number-container">
        <img class="icon" src="icons/balance.png" alt="Balance">
        <p class="number">$172,000</p>
      </div>
    }
  </div>
  <div class="card">
    @if (isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
      </div> 
    } @else {
      <p class="total">Total Income</p>
      <div class="icon-number-container">
        <img class="icon" src="icons/bounceup.png" alt="Balance">
        <p class="number">$200,000</p>
      </div>
    }
  </div>
  <div class="card">
    @if (isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
      </div> 
    } @else {
      <p class="total">Total Expenses</p>
      <div class="icon-number-container">
        <img class="icon" src="icons/bouncedown.png" alt="Balance">
        <p class="number">$18,000</p>
      </div>
    }
  </div>
</div>