<div class="search-bar-container">
  <p class="notes-number">{{ filteredNotes().length === 1 ? '1 Note' : filteredNotes().length + ' Notes' }}</p>
  <div class="search-wrapper">
    <i class="fa fa-search search-icon"></i>
    <input type="text" placeholder="Search account..." class="search-bar" [(ngModel)]="searchQuery">
    <span class="search-cancel" (click)="cancelQuery()">Cancel</span>
  </div>
  <div class="sort-container">
    <div class="sort-by">
      <p> Sort by </p>
    </div>
    <div class="sort" (click)="sortByDate()">
      <img class="icon" [src]="newest ? 'icons/deposit.png' : 'icons/withdraw.png'" alt="dep">
      <p class="order-text"> {{ newest ? 'newest to oldest' : 'oldest to newest'}} </p>
    </div>
  </div>
  <div class="add-note-container-header" (click)="openAddNoteModal()">
    <div class="add-note-circle-header">
      <i class="fa fa-plus"></i>
    </div>
    <p class="add-note-text">Add note</p>
  </div>
</div>

@if (filteredNotes().length > 0) {
  <div class="cards-grid">
    @for (note of filteredNotes(); track note.id){
      <div class="card" (click)="openModal(note)">
        <div>
          <div class="note-title">
            <p>{{ note.title }}</p>
          </div>
          <div class="note-content">
            <p>{{ note.note.length > 200 ? (note.note | slice:0:200) + '...' : note.note }}</p>
          </div>
        </div>
        <div class="note-date">
          <p> {{ note.date | date }}</p>
        </div>
      </div>
    }
    @if (searchQuery === '') {
      <div class="add-note-container" (click)="openAddNoteModal()">
        <div class="add-note-circle">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    }
</div>
} @else {
  <div class="no-notes-container">
    <div class="no-notes"> 
      @if (searchQuery !== '') {
        <p>No notes match your search</p>
      } @else {
        <p>No notes yet, click to add one.</p> <br>
        <div class="add-note-container" (click)="openAddNoteModal()">
          <div class="add-note-circle">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      }
    </div>
  </div>
}

@if (isModalOpen) {
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="title-content-container">
        <div class="note-title">
          <p>{{ selectedNote?.title }}</p>
        </div>
        <div class="note-content">
          <p>{{ selectedNote?.note }}</p>
        </div>
      </div>
      <div class="delete-date-container">
        <div class="note-date">
          <p> {{ selectedNote?.date | date }}</p>
        </div>
        <p class="cancel" (click)="closeModal()">Cancel</p>
        <p class="delete" (click)="deleteNote(selectedNote?.id)">Delete</p>
      </div>
    </div>
  </div>
}

@if (addNoteModalOpen) {
  <div class="modal-overlay" (click)="closeAddNoteModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-add-note class="add-note">
        <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="upper-container">
              <p class="card-name">Add Note</p>
            </div>
            <div class="container">
              <input class="add-note-title" name="title" placeholder="Enter note title..." [(ngModel)]="title" maxlength="28" required>
              <textarea class="textarea" name="note" placeholder="Write your note here..." [(ngModel)]="note" maxlength="1120" required></textarea>
              <div class="modal-buttons">
                <button class="cancel-button" (click)="closeAddNoteModal()">Cancel</button>
                <button type="submit" class="button">Add</button>
              </div>
            </div>
        </form>
      </app-add-note>
    </div>
  </div>
}