<div class="card">
  <div class="upper-container">
    <p class="card-name">Statistics</p>
    <div class="legend-container">
      <div class="income-container">
        <div class="income-circle"></div>
        <p>Income</p>
      </div>
      <div class="expenses-container">
        <div class="expenses-circle"></div>
        <p>Expenses</p>
      </div>
    </div>
  </div>
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Month"
      yAxisLabel="Amount"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
</div>