.card {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: var(--cards-background);
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 27px;
  height: 27px;
  filter: var(--icon-filter);
}

p {
  margin: 5px;
  font-size: 16px;
}

.card-name {
  font-size: 20px;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.income-container, .expenses-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.income-circle, .expenses-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.income-circle {
  background-color: #28a745;
}

.expenses-circle {
  background-color: #dc3545;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 100%;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #c4c4c4;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::ng-deep .ngx-charts text {
  fill: var(--text-color);
}