<div class="header-container">
  <div class="header"> 
    <div class="left-container">
      <div class="menu-toggle-container" (click)="toggleSideMenu()">
        <img src="icons/menu-toggle.png" class="menu-toggle" alt="toggle">
      </div>
      <div class="welcome-container">
        <p class="welcome">Welcome</p>
        <p class="statement">Here's what's happening with your finance today</p>
      </div>
    </div>
    <div class="buttons-container">
      <p (click)="openModal('Deposit')">Deposit</p>
      <p (click)="openModal('Withdraw')">Withdraw</p>
      <p (click)="openModal('Transfer')">Transfer</p>
    </div>
    <div class="theme-container" (click)="toggleTheme()">
      <img class="theme" [src]="isDarkMode ? 'icons/lightmode.png' : 'icons/darkmode.png'" alt="Dark Mode">
    </div>    
  </div>
</div>

@if (isModalOpen) {
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <p class="transaction-type">{{ transactionType }}</p>
  
        @if (transactionType === 'Transfer') {
          <p class="sentence">transfer from</p>
          <select id="accounts" name="accounts" [(ngModel)]="fromAccountId" required> 
            @for (account of accounts; track account.id) {
              <option value="{{ account.id }}">{{ account.name }}</option>
            }
          </select>
          <p class="sentence">transfer to</p>
          <select id="accounts" name="accounts" [(ngModel)]="toAccountId" required> 
            @for (account of accounts; track account.id) {
              <option value="{{ account.id }}">{{ account.name }}</option>
            }
          </select>
        } @else {
          <p class="sentence">select account</p>
          <select id="accounts" name="accounts" [(ngModel)]="toAccountId" required> 
            @for (account of accounts; track account.id) {
              <option value="{{ account.id }}">{{ account.name }}</option>
            }
          </select>
        }
        <p class="sentence">enter amount</p>
        <div class="input-container">
          <span class="currency-symbol">$</span>
          <input type="number" name="amount" placeholder="0.00" [(ngModel)]="submittedAmount">
        </div>
        <div class="modal-buttons">
          <button class="cancel-button" (click)="closeModal()">Cancel</button>
          <button type="submit" class="confirm-button">Confirm</button>
        </div>
      </div>
    </div>
  </form> 
}