.header-container {
  display: flex;
  align-items: center;
  background-color: var(--header-menu-background);
  border-bottom: 1px solid var(--border-lines-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 13px;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .menu-toggle-container {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu-toggle-container:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .menu-toggle {
    width: 25px;
    height: 25px;
    filter: var(--clicked-menu-icon);
  }
}

.welcome-container{
  margin-left: 20px;
}

@media (max-width: 600px) {
  .welcome-container {
    display: none;
  }
}

.welcome {
  font-size: 20px;
  margin: 0;
}

.statement {
  margin: 0;
  margin-left: 2px;
  color: var(--gray-text);
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.buttons-container p {
  margin: 0;
  font-size: 20px;
}

.theme {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.buttons-container p:hover, .theme:hover {
  cursor: pointer;
  transform: scale(1.1);
}