<div class="card">
  <p class="card-name">Quick Transfer</p>
  <div class="container">
    <p>Send</p>
    <input type="text" placeholder="amount">
    <p>From</p>
    <select id="options" name="options">
      <option value="option1">Savings</option>
      <option value="option2">Debit</option>
      <option value="option3">Wallet</option>
    </select>
    <p>To</p>
    <select id="options" name="options">
      <option value="option1">Savings</option>
      <option value="option2">Debit</option>
      <option value="option3">Wallet</option>
    </select>
    <button class="card-button">Transfer</button>
  </div>
</div>