<div class="card">
  <p class="card-name">Quick Transfer</p>
  <div class="container">
    <p>Send</p>
    <div class="input-container">
      <span class="currency-symbol">$</span>
      <input type="number" placeholder="0.00">
    </div>
    <p>From</p>
    <select id="options" name="options">
      <option value="option1">Savings</option>
      <option value="option2">Debit</option>
      <option value="option3">Wallet</option>
    </select>
    <p>To</p>
    <select id="options" name="options">
      <option value="option1">Savings</option>
      <option value="option2">Debit</option>
      <option value="option3">Wallet</option>
    </select>
    <button class="button">Transfer</button>
  </div>
</div>