<div class="card">
  <div class="upper-container">
    <div class="icon-name-container">
      <img class="icon" src="icons/statistics.png" alt="stats">
      <p class="card-name">
        Statistics {{ "(" + (firstDate | date:'MMMM d') + " to " + (lastDate | date:'MMMM d') + ")" }}
      </p>
          </div>
    <div class="legend-container">
      <div class="income-container">
        <div class="income-circle"></div>
        <p>Income</p>
      </div>
      <div class="expenses-container">
        <div class="expenses-circle"></div>
        <p>Expenses</p>
      </div>
    </div>
  </div>
  <div class="chart-container">
    @if (isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
      </div>  
    } @else {
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="data"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Last 30 Days"
        yAxisLabel="Amount"
        [autoScale]="true"
        [xAxisTickFormatting]="formatXAxis">
      </ngx-charts-line-chart>
    }
  </div>
</div>