<div class="side-menu-container">
  <div class="logo-name-container">
    <img class="logo" src="images/logo.png" alt="Logo">
    <p class="name">Ledgerly</p>
  </div>
  <div class="menu-content-container">
    <div class="items">
      <a routerLink="dashboard" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/dashboard.png" alt="Dashboard">
          <p class="text">Dashboard</p>
        </div>
      </a>
      <a routerLink="transactions" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/transaction.png" alt="Transactions"><img>
          <p class="text">Transactions</p>
        </div>
      </a>
      <a routerLink="accounts" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/accounts.png" alt="Accounts"><img>
          <p class="text">Accounts</p>
        </div>
      </a>
      <a routerLink="notes" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/notes.png" alt="Notes"><img>
          <p class="text">Notes</p>
        </div>
      </a>
    </div>

    <div class="export-data-container" (click)="openDownloadModal()">
      <div class="title">
        <p class="export-text">Export Transactions</p>
      </div>
      <img class="export-img" src="icons/export.png">
    </div>
  </div>
</div>

@if (isDownloadModalOpen) {
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="modal-overlay" (click)="closeDownloadModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <p class="modal-title">Export Transactions</p>      
        <div class="modal-container">
          <p class="sentence">Account</p>
          <select id="account" name="account" [(ngModel)]="selectedAccountId" required>
            <option value=0>All Accounts</option>
            @for (account of accounts; track account.id) {
              <option value="{{ account.id }}">{{ account.name }}</option>
            }
          </select>
          <p class="sentence">Transaction type</p>
          <select id="type" name="type" [(ngModel)]="selectedType" required>
            <option value="all">Income & Expenses</option>
            <option value="income">Income</option>
            <option value="expense">Expenses</option>
          </select>
          <p class="sentence">Start date</p>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate">
          <p class="sentence">End date</p>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate">
        </div>
        <div class="modal-buttons">
          <button class="cancel-button" (click)="closeDownloadModal()">Cancel</button>
          <button type="submit" class="confirm-button">Export</button>
        </div>
      </div>
    </div>
  </form> 
}