<div class="side-menu-container">
  <div class="logo-name-container">
    <img class="logo" src="images/logo.png" alt="Logo">
    <p class="name">Ledgerly</p>
  </div>
  <div class="menu-content-container">
    <div class="items">
      <a routerLink="dashboard" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/dashboard.png" alt="Dashboard">
          <p class="text">Dashboard</p>
        </div>
      </a>      
      <a routerLink="statistics" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/statistics.png" alt="Stats"><img>
          <p class="text">Statistics</p>
        </div>
      </a>
      <a routerLink="transactions" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/transaction.png" alt="Transactions"><img>
          <p class="text">Transactions</p>
        </div>
      </a>
      <a routerLink="accounts" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/accounts.png" alt="Accounts"><img>
          <p class="text">Accounts</p>
        </div>
      </a>
      <a routerLink="notes" routerLinkActive="selected" (click)="toggleSideMenu()">
        <div class="item">
          <img class="icon" src="icons/notes.png" alt="Notes"><img>
          <p class="text">Notes</p>
        </div>
      </a>
    </div>

    <div class="export-data-container">
      <div class="title">
        <p class="export-text">Export Transactions</p>
      </div>
      <!-- <p>Select account</p> -->
      <!-- <select id="from-account" name="fromAccount" [(ngModel)]="selectedAccountId" required>
        @for (account of accounts; track account.id) {
          <option value="{{ account.id }}">{{ account.name }}</option>
        }
      </select>
      <button class="button" type="submit">Export</button> -->
      <img class="export-img" src="icons/export.png">
    </div>
  </div>
</div>