.layout-grid {
  display: grid;
  grid-template-columns: 215px 1fr;
}

.content-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
  height: 100%;
  padding: 10px;
  padding-right: 20px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accounts-component, .transfer-component {
  flex: 0.320;
}

.add-note-component {
  flex: 0.2;
}
