.layout-grid {
  display: grid;
  grid-template-columns: 215px 1fr;
  min-height: 100vh;
}

.left-side-container {
  border-right: 1px solid var(--border-lines-color);
  background-color: var(--header-menu-background);
}

.right-side-container, .left-side-container {
  display: flex;
  flex-direction: column;
}

.side-menu {
  flex: 1;
}

.router-container {
  margin: 10px;
  flex: 1;
}

@media (max-width: 1200px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }

  .left-side-container {
    position: absolute;
    z-index: 1;
  }

  .right-side-container {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.left-side-container {
  z-index: 2;
}

