<div class="layout-grid">
  <div class="left-side-container">
    <app-side-menu></app-side-menu>
  </div>
  <div class="right-side-container">
    <app-header></app-header>
    <div class="content-grid">
      <div class="left-column">
          <app-total class="total-component"></app-total>
          <app-statistics class="stats-component"></app-statistics>
          <app-transactions class="trans-component"></app-transactions>
      </div>
      <div class="right-column">
        <app-accounts class="accounts-component"></app-accounts>
        <app-quick-transfer class="transfer-component"></app-quick-transfer>
        <app-add-note class="add-note-component"></app-add-note>
      </div>
    </div>
  </div>
</div>