<div class="card">
  <p class="card-name">Transactions</p>
  <table class="transactions-table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Date</th>
        <th>Time</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Savings</td>
        <td>Feb 21, 2025</td>
        <td>3:30 PM</td>
        <td>$10,000</td>
        <td><div class="chip-income">Income</div></td>
      </tr>
      <tr>
        <td>Debit</td>
        <td>Feb 18, 2025</td>
        <td>1:27 PM</td>
        <td>$340</td>
        <td><div class="chip-expense">Expense</div></td>
      </tr>
      <tr>
        <td>Wallet</td>
        <td>Feb 15, 2025</td>
        <td>12:43 PM</td>
        <td>$1000</td>
        <td><div class="chip-income">Income</div></td>
      </tr>
      <tr>
        <td>Savings</td>
        <td>Feb 21, 2025</td>
        <td>3:30 PM</td>
        <td>$10,000</td>
        <td><div class="chip-income">Income</div></td>
      </tr>
      <tr>
        <td>Debit</td>
        <td>Feb 18, 2025</td>
        <td>1:27 PM</td>
        <td>$340</td>
        <td><div class="chip-expense">Expense</div></td>
      </tr>
      <tr>
        <td>Wallet</td>
        <td>Feb 15, 2025</td>
        <td>12:43 PM</td>
        <td>$1000</td>
        <td><div class="chip-income">Income</div></td>
      </tr>
    </tbody>
  </table>    
</div>