.card {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background: var(--cards-background);
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-name {
  margin: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.view-all {
  margin: 0;
  color: var(--gray-text)
}

.view-all:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 282px;
  width: 100%;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #c4c4c4;
  animation: spin 1s linear infinite;
}

.transactions-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

th {
  text-align: center;
  padding: 10px;
  color: var(--gray-text);
  background-color: var(--internal-cards-background);
}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-lines-color);
}

.chip-income, .chip-expense {
  display: inline-flex;
  justify-content: center;
  padding: 0px 10px;
  width: 55px;
  border-radius: 5px;
}

.chip-income {
  background-color: #28a745;
  color: rgb(14, 80, 14);
}

.chip-expense {
  background-color: #dc3545;
  color: rgb(94, 3, 3);
}