<div class="card">
  <div class="upper-container">
    <p class="card-name">Transactions</p>
    <a routerLink="../transactions">
      <p class="view-all">View all</p>
    </a>
  </div>
  @if (isLoading) {
    <div class="loading-container">
      <div class="spinner"></div>
    </div> 
  } @else {
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Account</th>
          <th>Date</th>
          <th>Time</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        @for (transaction of transactions | slice:0:6; track transaction.id) {
          <tr>
            <td>{{ transaction.account.name }}</td>
            <td>{{ transaction.date | date }}</td>
            <td>{{ transaction.date | date:'mediumTime' }}</td>
            <td>{{ transaction.amount | currency }}</td>
            <td>
              <div [class.chip-income]="transaction.type === 'income'" [class.chip-expense]="transaction.type === 'expense'">                
                {{ transaction.type }}
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>    
  }
</div>